@import './components/static/_colors.scss';

.container{
  display:flex;
}
.super{
	min-height:100vh;
	background: radial-gradient(ellipse at bottom, #C04CFD 0%, #2E0444 100%);
	overflow:hidden;
	color: white;
	flex-direction:column;
	overflow-x:hidden;
}

::-webkit-scrollbar {
  width: .5em;
}

.bio::-webkit-scrollbar-track {
  background-color:rgba(0,0,0,0);
  border:1px solid white;
}

.bio::-webkit-scrollbar-thumb {
background-color: rgba(255,255,255,0.5);
outline: none;
}

// ::-webkit-scrollbar-track {
//   background-color: $Dk-Purple;
//   border:1px solid $Lt-Purple;
// }

// ::-webkit-scrollbar-thumb {
// background-color: rgba(255,255,255,0.5);
// outline: none;
// }

main{
	width:100%;
	max-width:800px;
	height:100%;
	margin-left:auto;
	margin-right:auto;
	padding-top:30px;
	flex-direction:column;
	z-index:1;
	align-items: center;
	transition: .3s ease-out;
}

main.up{
	margin-top:-900px;
	transition: .3s ease-out;
}
	