.container{
  display:flex;
}
.super{
	width:100vw;
	height:100vh;
	background: radial-gradient(ellipse at bottom, #C04CFD 0%, #2E0444 100%);
	overflow:hidden;
	color: white;
	flex-direction:column;
}

@font-face{
	font-family: 'comfortaa-bold';
	src: url('/Comfortaa/Comfortaa-Bold.ttf');
}
@font-face{
	font-family: 'comfortaa-thin';
	src: url('/Comfortaa/Comfortaa-Light.ttf');
}
@font-face{
	font-family: 'comfortaa-reg';
	src: url('/Comfortaa/Comfortaa-Regular.ttf');
}

main{
	width:100%;
	max-width:800px;
	height:100%;
	margin-left:auto;
	margin-right:auto;
	padding-top:30px;
	flex-direction:column;
	z-index:1;
	align-items: center;
}
	