@import '../../static/_colors.scss';

.techGrid{
  width:100%;
  position:relative;
  img{
    height:fit-content;
    width:fit-content;
  }
}

.techGrid.content{
  margin:auto;
  box-sizing:border-box;
  padding-top: 2px;
  padding-bottom: 9px;
  position: absolute;
  width: 63.6%;
  height:100%;
  top: 0;
  left: 295px;
  right: 0;
  bottom:0;
}

.row{
  display: flex;
  justify-content: space-around;
  height:32.5%;
}

.software{
  width:100%;
  flex-direction:column;
}

.logo{
  width:20%;
  height:100%;
  border: solid 2.5px $Dk-Purple;
  display:flex;
  img{
    margin:auto;
  }
}

