@import "../../static/_colors.scss";

@import "./_animations.scss";

.projects {
	width: 100%;
	height: 100%;
}

.project-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 2fr;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	width: 100%;
	justify-content: center;
	align-content: center;
	align-items: center;
	margin-top: 5px;
	margin-bottom: 110px;
	&:nth-child(even) {
		.mockup {
			grid-column-start: 2;
		}
		.text.project {
			grid-column-start: 1;
			animation: slideInLeft 1s;
		}
		.project-tech {
			grid-column-start: 2;
		}
		.project-links {
			grid-column-start: 1;
			justify-content: flex-start;
		}
	}
	&:first-child {
		margin-top: 40px;
	}
	&:last-child {
		margin-bottom: 40px;
	}
}

.mockup {
	z-index: 999;
	transition: 0.2s ease-out;
	animation: deviceFade 0.5s;
	position: relative;
	grid-column-end: span 1;
	grid-column-start: 1;
	grid-row-start: 1;
	grid-row-end: span 2;
	&.laptop-container {
		margin-left: -30px;
		margin-right: -30px;
	}
	&.phone-container {
		display: flex;
		flex-direction: column;
		align-content: center;
		.pos-fix {
			position: relative;
			width: 50%;
			margin: auto;
		}
	}
	.laptop {
		width: 100%;
		height: auto;
	}
	.phone {
		width: 100%;
		margin: auto;
		height: auto;
		margin-top: -15%;
		margin-bottom: -15%;
	}
	.phone-mock-bg {
		position: absolute;
		z-index: -99;
		width: auto;
		height: 100%;
		transform: scale(1.7);
		right: 0;
		left: 0;
		margin-left: auto;
		opacity: 0.1;
		margin-right: auto;
	}
	.screenShot {
		position: absolute;
		&.laptop {
			width: 73.5%;
			height: 60.35%;
			top: 6.2%;
			left: 12.8%;
		}
		&.phone {
			width: 86.5%;
			height: 89%;
			top: 14%;
			left: 6.3%;
		}
	}
}

.text.project {
	animation: slideInRight 1s;
	align-self: start;
	font-family: "Comfortaa", cursive;
	box-sizing: border-box;
	background-color: $Dk-Purple;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
	padding: 20px;
	grid-row-start: 1;
	grid-row-end: span 2;
	grid-column-start: 2;
	grid-column-end: span 1;
	width: 100%;
	height: 100%;
	max-height: 349px;
	.body {
		max-height: 80%;
		overflow-x: auto;
	}
	p {
		line-height: 1.2;
		margin-bottom: 10px;
	}
	h2.project {
		font-size: 36px;
		font-weight: 700;
		margin-bottom: 20px;
	}
}

.project-tech {
	display: flex;
	align-self: end;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: span 1;
	height: 30%;
	justify-content: space-around;
	.project-logo {
		z-index: 999;
		display: flex;
		flex-direction: column;
		align-content: center;
		align-items: center;
		height: 100%;
		img {
			animation: logoPop 10s;
			transition: 0.2s ease-out;
			height: 100%;
		}
		h3 {
			font-family: "Comfortaa", cursive;
			font-weight: 700;
			margin-top: 5px;
			transition: 0.2s ease-out;
			opacity: 0;
		}
		&:hover {
			img {
				transform: translateY(-20%);
				transition: 0.2s ease-out;
			}
			h3 {
				transition: 0.2s ease-out;
				opacity: 1;
			}
		}
	}
}

.project-links {
	margin-top: -35%;
	display: flex;
	justify-content: flex-end;
	grid-column-start: 2;
	grid-column-end: span 1;
	grid-row-start: 1;
	.sep {
		margin-left: 10px;
		margin-right: 10px;
	}
	div {
		a {
			font-family: "Comfortaa", cursive;
			transition: 0.2s ease-in;
			&:hover {
				color: $Dk-Purple;
				transition: 0.2s ease-out;
			}
		}
	}
}

@media only screen and (max-width: 850px) {
	.project-grid {
		grid-template-columns: 80%;
		grid-template-rows: 0.01fr 1fr 0.5fr;
		grid-column-gap: 10px;
		grid-row-gap: 10px;
		margin-top: 5px;
		margin-bottom: 100px;
		.project-links {
			margin-top: 0px;
			grid-column-start: 1;
			grid-row-start: 1;
		}
		&:nth-child(even) {
			.mockup {
				grid-column-start: 1;
			}
			.text.project {
				grid-column-start: 1;
			}
			.project-tech {
				grid-column-start: 1;
			}
			.project-links {
				grid-column-start: 1;
				justify-content: flex-end;
			}
		}
	}

	.mockup {
		grid-row-start: 3;
		grid-row-end: 4;
		&.laptop-container {
			margin-top: -8%;
		}
	}
	.text.project {
		grid-row-start: 2;
		grid-row-end: span 1;
		grid-column-start: 1;
		max-height: 400px;
		h2.project {
			font-size: 7.5vw;
		}
	}

	.project-tech {
		grid-row-start: 3;
		grid-row-end: span 1;
		height: 25%;
		.project-logo {
			img {
				height: 100%;
			}
			h3 {
				display: none;
			}
			&:hover {
				img {
					height: 100%;
				}
			}
		}
	}
}
