@keyframes comeDown {
	0% {
		margin-top: -200px;
	}
	100% {
		margin-top: -2px;
	}
}

@keyframes flyUp {
	0% {
		margin-top: initial;
	}
	100% {
		margin-top: -200px;
	}
}

@keyframes ufoHover {
	50% {
		transition: 0.2s ease-out;
		transform: translateY(1px);
	}
	90% {
		transform: translateY(-1px);
	}
}

@keyframes arrowTop {
	0% {
		transform: scale(1);
	}
	45% {
		transform: scale(1.2);
	}
	40% {
		transform: scale(1.2);
	}
	90% {
		transform: scale(1);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes arrowBottom {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	90% {
		transform: scale(1);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes slideIn {
	0% {
		opacity: 0;
		margin-right: -500px;
	}
	100% {
		opacity: 1;
		margin-right: initial;
	}
}
