@import "../_colors.scss";

nav {
	width: 100%;
	max-width: 800px;
	height: 70px;
	background-image: linear-gradient(
		-90deg,
		rgba(117, 219, 205, 0.85) 0%,
		#b463f6 100%,
		#b95af9 100%,
		#c04cfd 100%
	);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	align-items: center;
	font-family: "Comfortaa", cursive;
	font-weight: 400;
	z-index: 10;
	transition: 0.2s ease-out;
	img {
		width: 80px;
	}
	.buffer {
		flex-direction: column;
		flex-grow: 1;
		&.left {
			padding-left: 20px;
		}
		&.right {
			padding-right: 20px;
		}
	}
	.home {
		animation: homeFade 1s;
	}
}

@keyframes homeFade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

a {
	z-index: 2;
}

.page-nav {
	width: 400px;
	justify-content: space-around;
	color: $Dk-Purple;
	font-size: 20px;
	flex-grow: 3;
	z-index: 1;
}

.selector {
	background-color: white;
	height: 5px;
	width: 0px;
	transition: 0.2s ease-in;
}

.active {
	color: white;
	.selector {
		width: 100%;
	}
}

li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	&:hover {
		.selector {
			width: 100%;
			transition: 0.2s ease-in;
		}
	}
}

a {
	text-decoration: none;
	color: inherit;
	transition: 0.2s ease-in;
}

@media only screen and (max-width: 850px) {
	nav {
		img {
			display: none;
		}
	}
}
