nav {
  width: 100%;
  max-width: 800px;
  height: 70px;
  background-image: linear-gradient(-90deg, rgba(117, 219, 205, 0.85) 0%, #B463F6 100%, #B95AF9 100%, #C04CFD 100%);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  font-family: 'Comfortaa', cursive;
  font-weight: 400;
  z-index: 10;
  transition: .2s ease-out; }
  nav img {
    width: 80px; }
  nav .buffer {
    flex-direction: column;
    flex-grow: 1; }
    nav .buffer.left {
      padding-left: 20px; }
    nav .buffer.right {
      padding-right: 20px; }

a {
  z-index: 2; }

.page-nav {
  width: 400px;
  justify-content: space-around;
  color: #2e0444;
  font-size: 20px;
  flex-grow: 3;
  z-index: 1; }

.selector {
  background-color: white;
  height: 5px;
  width: 0px;
  transition: .2s ease-in; }

.active {
  color: white; }
  .active .selector {
    width: 100%; }

li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  li:hover .selector {
    width: 100%;
    transition: .2s ease-in; }

a {
  text-decoration: none;
  color: inherit;
  transition: .2s ease-in; }

@media only screen and (max-width: 850px) {
  nav img {
    display: none; } }
