@import '../../static/_colors.scss';
@import './_animations';

.work-cards{
  flex-wrap:wrap;
  justify-content: space-between;
}

.gradient{
  height:162px;
  position:relative;
  overflow:hidden;
  justify-content: center;
  align-items: center;
  border: 5px solid $Dk-Purple;
  transition: .3s ease-in;
  img.work-logo{
    opacity: 1;
    transition: .3s ease-in-out;
  }
}
.work-synop{
  position: absolute;
  width: 100%;
  height: 250px;
  flex-direction:column;
  align-content: center;
  font-family: 'Comfortaa', cursive;
  font-weight: 400;
  opacity:0;
  transition: .3s ease-in-out;
  p{
    margin:auto;
    margin-bottom:10px;
    padding-left:20px;
    padding-right:20px;
    text-align: center;
  }
  .project-links{
    margin:auto;
    margin-top:10px;
    color: $Dk-Purple;
    z-index:5;
    a{
      font-family: 'Comfortaa', cursive;
      font-weight: 700;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

.work-card{
  background: #2E0444;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  width:380px;
  height:250px;
  z-index:2;
  overflow: hidden;
  margin-bottom:20px;
  animation-name: comeUp;
  animation-duration: 1s;
  &:hover{
    .gradient{
      height:240px;
      transition: .3s ease-out;
      img.work-logo{
        opacity: 0;
        transition: .3s ease-in-out;
      }
    }
    .work-synop{
      opacity: 1;
      transition: .3s ease-in-out;
    }
  }
}

.gradient-bg{
  position: absolute;
  z-index:3;
  width:380px;
}

.work-top{
  z-index:4;
}

.title{
  height:30%;
  justify-content: center;
  align-items: center;
  img{
    height:52px;
  }
}