@keyframes fallIn{
  0% {
    margin-top: -500px;
  }
  80% {
    margin-top: 20px;
  }
  100% {
    margin-top:initial;
  }
}

@keyframes fallInMiddle{
  0% {
    margin-top: -500px;
  }
  60% {
    margin-top: 30px;
  }
  100% {
    margin-top:-20px;
  }
}