@keyframes fallIn {
  0% {
    margin-top: -500px; }
  80% {
    margin-top: 20px; }
  100% {
    margin-top: initial; } }

@keyframes fallInMiddle {
  0% {
    margin-top: -500px; }
  60% {
    margin-top: 30px; }
  100% {
    margin-top: -20px; } }

.cards {
  width: 100%;
  justify-content: space-between; }

.skill-card {
  background: #2e0444;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  width: fit-content;
  height: 100%;
  flex-direction: column;
  transition: 0.2s ease;
  animation: fallIn 0.5s; }

img {
  height: fit-content;
  width: fit-content; }

.develop {
  transition: 0.2s ease;
  animation: fallInMiddle 0.5s;
  margin-top: -20px; }

p.skill {
  box-sizing: border-box;
  width: 260px;
  font-family: "Comfortaa", cursive;
  font-weight: 400;
  font-size: 16px;
  padding: 10px;
  line-height: 1.3; }

@media only screen and (max-width: 850px) {
  main.skills {
    width: 80vw; }
  .develop {
    margin-top: 0px; }
  .cards {
    box-sizing: border-box;
    overflow: auto;
    overflow-y: hidden;
    padding-right: 5%;
    padding-bottom: 10%;
    height: 70vh;
    justify-content: space-between; }
  .skill-card {
    display: block !important;
    padding-bottom: 10px;
    height: fit-content;
    margin-right: 20%; }
    .skill-card img {
      width: 100%;
      height: auto; }
    .skill-card p.skill {
      padding: 20px;
      padding-top: 10px;
      height: 32vh;
      width: 75vw;
      font-size: 4.5vw;
      overflow-y: scroll; } }
