@import './_animations.scss';

.cards{
  width:100%;
  justify-content: space-between;
}

.skill-card{
  background: #2E0444;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  width:fit-content;
  height:360px;
  flex-direction: column;
  transition:.2s ease;
  animation: fallIn .5s;
}

img{
  height:fit-content;
  width:fit-content;
}

.develop{
  transition:.2s ease;
  animation: fallInMiddle .5s;
  margin-top:-20px;
}

p.skill{
  box-sizing: border-box;
  width:260px;
  font-family: 'Comfortaa', cursive;
  font-weight: 400;
  font-size:16px;
  padding:10px;
  line-height: 1.3;
}

@media only screen 
and (max-width: 850px) {
  main.skills{
    width:80vw;
  }
  .develop{
    margin-top: 0px;
  }
  .cards{
    box-sizing: border-box;
    overflow: auto;
    overflow-Y:hidden;
    padding-right:5%;
    padding-bottom:10%;
    height: 70vh;
    justify-content: space-between;
  }
  .skill-card{
    display: block !important;
    padding-bottom:10px;
    img{
      width: 100%;
      height:auto;
    }
    height:fit-content;
    margin-right: 20%;
    p.skill{
      padding:20px;
      padding-top:10px;
      height:32vh;
      width: 75vw;
      font-size: 4.5vw;
      overflow-Y: scroll;
    }
  }
}