@import '../_colors.scss';

footer{
  color: $Dk-Purple;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  height:40px;
  padding:5px;
  font-family: 'Comfortaa', cursive;
  font-weight: 400;
  font-size:10px;
  background: rgba(192,76,253,0.70);
  width:100%;
  max-width:800px;
  margin-top:auto;
  margin-left:auto;
  margin-right:auto;
  transition: .2s ease-out;
}

.links{
  margin:5px;
  width:50px;
  justify-content: space-around;
  transition: .1s ease-in;
  a:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: .1s ease-in;
  }
}